body {
  background-color: rgb(122, 122, 141);
  font-family: normal 15pt Arial;
  text-align: center;
  color: white;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  
}

body.slide-out {
  transform: translateX(-100%);
}






header {
}

section {
  background-color: white;
  color: black;
  font-size: 20px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.814);
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 50px;
}
#foto {
}



img {
  width: 300px; /* Ajuste o tamanho conforme necessário */
  height: 300px; /* Mantém a proporção da imagem */
  border-radius: 1000px;
  margin: 20px;


 
}

footer {
  font-style: italic;
}

#btn{
  background-color: blue;
  color:aqua;
    box-shadow: 10px 10px 30px rgba(68, 41, 167, 0.7);

  font-size: 15px;
  width: 25%;
  height: 50px;
  border-radius: 10px;
  margin:20px;
  border:none;
  cursor:pointer;
  transition: all 0.3s ease; /* Adiciona uma transição suave */
}

#btn:hover{
  font-size: 17px;
  width: 27%;
    height: 53px;
    background-color: aqua;
    color: blue;
}
#btn:active {
  transform: scale(0.95); /* Faz o botão "afundar" ao clicar */
  background-color:  blue;; /* Muda de cor temporariamente */
   color: aqua;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#btn:active {
  animation: pulse 0.3s ease-in-out;
}
